<h1> Home </h1>

<div *ngFor="let salarie of salaries">
    <div class="salarie-details" *ngIf="salarie">
        <div class="col-xs-12 col-md-40">
        <strong>Nombre de salaries : </strong>
        </div>
        <div class="col-xs-12 col-md-40">
        {{salarie.length}}
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-40">
    <strong>Nombre de clients : </strong>
</div>
<div class="col-xs-12 col-md-40">
    {{number.salarie.id}}
</div>

<div class="col-xs-12 col-md-40">
    <strong>Montant des projets : </strong>
</div>
<div class="col-xs-12 col-md-40">
    {{number.salarie.id}}
</div>